@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
:root
{
    --background-color: #22252a;
    --primary-color:#2563eb;
    --text-color: #f3f3f3;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--text-color);
}   

html
{
    height: 100%;
}

nav
{
    background-color:var(--primary-color);
    padding: 1rem;
    text-align: center;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;    
}

nav a
{
    text-decoration: none;
    padding:0.5rem;
    margin: 0.25rem;
    border-radius: 1rem;
    background-color:var(--background-color);
    color: var(--text-color);
    text-align: center;
}

a:hover
{
    text-decoration: underline;
}

#active
{
    text-decoration: underline;
}

.nav-container
{
    display: flex;
    align-items:center;
    justify-content: center;
}

h2
{
    text-align: center;
    padding: 1rem;
}
img
{
    margin: auto;
    max-width: 250px;
    max-height: 150px;
}

#formula
{
    padding-bottom:1rem;
    font-size:18px;
    max-width: 350px;
    margin: auto;
    border: 3px solid var(--primary-color) ;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.options-container
{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 2rem;
}
.container label
{
    padding:0.1rem ;
    margin-top: 0.75rem;
}

.input
{
    margin: 0.5rem;
}

button
{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    width: 150px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#output
{
    text-align: center;
}

@media screen and (max-width:500px) {
    body
    {
        font-size: 15px;
    }
    
}

